<div class="sc-layout">
  <div class="sc-nav">
    <div class="sc-fir-title">
      <!-- 智慧农业物联网系统 -->
      智慧农业物联网系统
    </div>
    <div class="sc-fir-btn">
      <i class="icon icon-add-bug"></i>
      <div class="sc-icon-link">
        <a routerLink="/dashboard" class="sc-icon-link-a">
          <i class="icon icon-setup"></i>
        </a>
      </div>
      <div class="sc-icon-link">
        <a routerLink="/heroes" class="sc-icon-link-a">
          <i class="icon icon-down-config"></i>
        </a>
      </div>
      <div class="sc-icon-link">
        <a routerLink="/smart" class="sc-icon-link-a">
          <i class="icon icon-op-member"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="sc-content">
    <router-outlet></router-outlet>
  </div>
  
 
</div>
