<div style="height: 100%;">
    <div class="sc-2nd-line">
      <div class="sc-2nd-col" style="width: calc((100% - 22px) / 8 * 1 )">
        <!-- <div class="header-slide" style="left: calc((100% - 30px) * 0.05)">
          <span class="span-left">项目总浏</span>
        </div> -->
      </div>
      <div class="sc-2nd-col" style="width: calc((100% - 22px) / 8 * 3)">
        <!-- <div class="header-slide" style="left: calc((100% - 30px) * 0.35)">
          <span class="span-left">项目总浏</span>
        </div> -->
      </div>
      <div class="sc-2nd-col" style="width: calc((100% - 22px) / 8 * 2)">
        <!-- <div class="header-slide">
          <span class="span-left">项目总浏</span>
        </div> -->
      </div>
      <div class="sc-2nd-col" style="width: calc(100% / 8 * 2);margin-right: 0px;">
        
      </div>
    </div>
    <div class="sc-2nd-line">
      <div class="sc-2nd-col" style="width: calc((100% - 18px) / 3)">
        
      </div>
      <div class="sc-2nd-col" style="width: calc((100% - 18px) / 3)">
        
      </div>
      <div class="sc-2nd-col" style="width: calc(100% / 3); margin-right: 0;">
        
      </div>
    </div>
  </div>
  