<div style="height: 100%;">
    <div class="sc-2nd-line">
      <div class="sc-2nd-col" style="width: calc((100% - 22px) / 8 * 1.3 )">
        <!-- <div class="header-slide" style="left: calc((100% - 30px) * 0.066)">
          <span class="span-left">企业信息</span>
        </div> -->
        <div class="header-line">
          企业信息
        </div>
        <div class="logo-line">
        </div>
        <div class="info-line">
          <div style="padding-bottom: 25px;">
            <div class="info-line-left">名称：</div>
            <div class="info-line-right">中农潍科</div>
          </div>
          <div style="padding-bottom: 25px;">
            <div class="info-line-left">地址：</div>
            <div class="info-line-right">山东省寿光市</div>
          </div>
          <div>
            <div class="info-line-left">网站：</div>
            <div class="info-line-right3">http://123.57.30.204:20012/</div>
          </div>
        </div>
      </div>
      <div class="sc-2nd-col" style="width: calc((100% - 22px) / 8 * 3)">
        <!-- <div class="header-slide" style="left: calc((100% - 30px) * 0.35)">
          <span class="span-left">项目总浏</span>
        </div> -->
      </div>
      <div class="sc-2nd-col" style="width: calc((100% - 22px) / 8 * 1.7)">
        <!-- <div class="header-slide">
          <span class="span-left">项目总浏</span>
        </div> -->
      </div>
      <div class="sc-2nd-col" style="width: calc(100% / 8 * 2);margin-right: 0px;">
        
      </div>
    </div>
    <div class="sc-2nd-line">
      <div class="sc-2nd-col" style="width: calc((100% - 18px) / 3)">
        
      </div>
      <div class="sc-2nd-col" style="width: calc((100% - 18px) / 3)">
        
      </div>
      <div class="sc-2nd-col" style="width: calc(100% / 3); margin-right: 0;">
        
      </div>
    </div>
  </div>
  